<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <p>List of items</p>
      <div class="card mb-2 p-4 mx-auto list-item" *ngFor="let item of data" (click)="getItem(item.id)">
        <div class="card-body" [ngClass]="{ 'completed': item.completed, 'incomplete': !item.completed }">
          <h5>ID: {{item.id}}</h5>
          <h5 class="card-title">UserID: {{item.userId}}</h5>
          <h2>Title: {{item.title}}</h2>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <p>Get Particular Item:</p>
      <div class="card mb-2 p-4 mx-auto" *ngIf="response?.length > 0">
        <div class="card-body">
          <h5>ID: {{selectedItem.id}}</h5>
          <h5 class="card-title">UserID: {{selectedItem.userId}}</h5>
          <h2>Title: {{selectedItem.title}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>